In [1]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import trange,tqdm
import argparse

In [14]:
loc_list = []
for root, dirs, files in os.walk("Pipelinerun_withPC"):
    for file in files:
        if file.endswith('maf.frq'):
            loc = os.path.join(root, file)
            loc_list.append(loc) #get bim file location

In [15]:
loc_list

['Pipelinerun_withPC/RAMS/mergedChr/gwas_RAMS_flipped_maf.frq',
 'Pipelinerun_withPC/Madrid/mergedChr/gwas_madrid_flipped_maf.frq',
 'Pipelinerun_withPC/EARTH_B/mergedChr/gwas_EARTHB_flipped_maf.frq',
 'Pipelinerun_withPC/EIRA/mergedChr/gwas_EIRA_flipped_maf.frq',
 'Pipelinerun_withPC/ACPA/mergedChr/gwas_ACPA_flipped_maf.frq',
 'Pipelinerun_withPC/SERA/mergedChr/gwas_SERA_flipped_maf.frq',
 'Pipelinerun_withPC/EARTH_A/mergedChr/gwas_EARTHA_flipped_maf.frq',
 'Pipelinerun_withPC/PEAC/mergedChr/gwas_PEAC_flipped_maf.frq',
 'Pipelinerun_withPC/Vienna/mergedChr/gwas_Vienna_flipped_maf.frq',
 'Pipelinerun_withPC/EAC/mergedChr/gwas_EAC_flipped_maf.frq']

In [8]:
freq = pd.read_csv(loc_list[0],sep='\s+')

In [9]:
freq

          CHR              SNP A1 A2       MAF  NCHROBS
0           1      1:82994:A:G  G  A  0.000000      488
1           1     1:139060:G:A  A  G  0.002041      490
2           1     1:139422:G:A  A  G  0.000000      488
3           1     1:526720:G:T  T  G  0.000000      488
4           1     1:536090:A:G  G  A  0.000000      488
...       ...              ... .. ..       ...      ...
10325450   22  22:51231424:A:G  G  A  0.000000      488
10325451   22  22:51232488:A:G  G  A  0.002183      458
10325452   22  22:51234033:C:T  T  C  0.002041      490
10325453   22  22:51237063:T:C  C  T  0.209100      330
10325454   22  22:51239586:T:G  G  T  0.004082      490

[10325455 rows x 6 columns]

In [13]:
Major_found = False
for i in trange(len(loc_list)):
    freq = pd.read_csv(loc_list[i],sep='\s+')
    if (freq['MAF']>0.5).any() == True:
        print(freq[freq['MAF']>0.5])
        print("for cohort: "+loc_list[i])
        Major_found = True
if Major_found == False:
    print("ALL CLEAR!")

100%|███████████████████████████████████████████████████████████████████████| 10/10 [02:56<00:00, 17.64s/it]

ALL CLEAR!