In [2]:
import pandas as pd
import numpy as np
import sys,os,time

In [3]:
vienna_clinical = pd.read_csv("/exports/reum/knevel_lab/Vienna/clinical/Rachel_data_ready_to deliver.csv",sep=';')

In [4]:
vienna_clinical

,desc,patient,followup,visit_nr,Eintrt_datum,sex,age,Beschwerdebeginn,Beschwerdedauer,Erstdiagnose,...,IRF5,PADI4,hla1,hla2,shared_epitope,@___merge,filter__,discrib,SampleID_last,@_merge
0,clin,2,4/11/2007,1,4/11/2007,F,"49,5",4/1/2007,0,4/11/2007,...,TT,CT,DRB1*01:01:01,DRB1*15:01:01:01Â,1,3,1,BOTH,1085421526,3
1,both,2,4/26/2007,2,4/11/2007,F,"49,6",4/1/2007,",1",4/11/2007,...,TT,CT,DRB1*01:01:01,DRB1*15:01:01:01Â,1,3,0,BOTH,1085421526,3
2,clin,2,8/2/2007,3,4/11/2007,F,"49,8",4/1/2007,",3",4/11/2007,...,TT,CT,DRB1*01:01:01,DRB1*15:01:01:01Â,1,3,0,BOTH,1085421526,3
3,both,2,12/6/2007,4,4/11/2007,F,"50,2",4/1/2007,",7",4/11/2007,...,TT,CT,DRB1*01:01:01,DRB1*15:01:01:01Â,1,3,0,BOTH,1085421526,3
4,both,4,3/14/2007,1,3/14/2007,W,"51,3",,,,...,CT,TT,DRB1*07:01:01:01,DRB1*12:01:01Â,0,3,1,BOTH,1031467068,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,clin,4239,5/21/2014,2,2/14/2014,W,"45,4",2/1/2012,"2,3",2/14/2014,...,,,,,,1,0,BOTH,1095887411,3
2209,clin,4239,6/25/2014,3,2/14/2014,W,"45,5",2/1/2012,"2,4",2/14/2014,...,,,,,,1,0,BOTH,1095887411,3
2210,clin,4239,9/17/2014,4,2/14/2014,W,"45,7",2/1/2012,"2,6",2/14/2014,...,,,,,,1,0,BOTH,1095887411,3
2211,clin,4239,1/14/2015,5,2/14/2014,W,"46,1",2/1/2012,3,2/14/2014,...,,,,,,1,0,BOTH,1095887411,3
2212,clin,4239,5/13/2015,6,2/14/2014,W,"46,4",2/1/2012,"3,3",2/14/2014,...,,,,,,1,0,BOTH,1095887411,3

In [5]:
vienna_clinical.columns

Index(['desc', 'patient', 'followup', 'visit_nr', 'Eintrt_datum', 'sex', 'age',
       'Beschwerdebeginn', 'Beschwerdedauer', 'Erstdiagnose',
       'Krankenheitsdauer', 'Nikotin', 'Nikotin_text', 'Analgetika',
       'Kortison', 'Kortison_merkmal', 'KortisonStoss', 'KortisonDosis',
       'NSAIDs', 'CRP', 'ESR', 'PGA', 'EGA', 'PAIN', 'HAQ', 'SJC28', 'TJC28',
       'TJC32', 'SJC32', 'RF', 'CCP', 'DAS_esr', 'DAS_ESR_S', 'DAS_crp',
       'SDAI', 'SDAI_S', 'CDAI', 'CDAI_S', 'rf_pos', 'ccp_pos', 'DMARD_Start',
       'MTX_DOSIS', 'Arava_DOSIS', 'Salazopyrin_DOSIS', 'trtment', 'tr_visit',
       'tr_dur', 'tr_b', 'tr_e', 'trt_course', 'DMARD__cat', 'care_dur',
       'RRECEPT_B', 'locality', 'PTPN_22', 'STAT_4', 'CTLA_4', 'TRAF1_C5',
       'TNFAIP3', 'AFF3', 'IRF5', 'PADI4', 'hla1', 'hla2', 'shared_epitope',
       '@___merge', 'filter__', 'discrib', 'SampleID_last', '@_merge'],
      dtype='object')

In [10]:
vienna_clinical.loc[:,['SDAI','SDAI_S']]

       SDAI SDAI_S
0      18,3    MDA
1     19,62    MDA
2      6,34    LDA
3      7,82    LDA
4     14,88    MDA
...     ...    ...
2208   9,59    LDA
2209    ,53    REM
2210   6,07    LDA
2211   5,45    LDA
2212  13,23    MDA

[2213 rows x 2 columns]

In [13]:
vienna_clinical['patient'][:50]

0      2
1      2
2      2
3      2
4      4
5      4
6      4
7      4
8     19
9     19
10    19
11    19
12    19
13    19
14    19
15    22
16    22
17    22
18    22
19    22
20    22
21    24
22    24
23    24
24    24
25    24
26    24
27    31
28    31
29    31
30    31
31    31
32    31
33    40
34    40
35    40
36    40
37    40
38    40
39    72
40    72
41    72
42    72
43    72
44    85
45    85
46    85
47    85
48    85
49    97
Name: patient, dtype: int64